html, body {
    background-color: #2c2934;
    color: white;
    height: 100%;
    width: 100%;
}

// background: #eb621f;
.flex_container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content:stretch;
}

.flex_item {
    display: flex;
    height: 100%;

    background: #2c2934;
    border-left: 1px solid #eb621f;
    border-right: 1px solid #eb621f;
    &:first-of-type {
        order: 1;
        width: span(2);
        overflow: auto;

        padding: 0 15px;
    }
    &:nth-of-type(2) {
        display: block;
        order: 2;
        width: span(10);
        .flex_main {
            display: flex;
            height: 80%;
            width: span(12);
            .flex_child {
                border: 1px solid #2c646b;
                overflow: auto;
                &:first-of-type {
                    width: span(10);
                }
                &:last-of-type {
                    width: span(2);
                }
            }

        }
        .flex_footer {
            overflow: auto;
            height: 20%;
            width: span(12);
            display: flex;
            align-content: flex-end;
        }
    }
}
