.button {
    background-color: #fff;
    border: 1px solid $border-default;
    border-radius: 2px;
    outline: none;
    padding: 10px 10px;
}

.dropdown {
    position: relative;
    .dropdown_menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        top: 40px;
        clear: left;
        border: 1px solid $border-default;
        border-radius: 2px;
        background-color: #fff;
        padding: 3px 0;
        min-width: 160px;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 2px;
        li {
            display: list-item;
            a {
                display: block;
                padding: 5px 5px;
                color: $text-default;
                &:hover {
                    background-color: $hover-default;
                }
            }
        }
    }
    &.active {
        .dropdown_menu {
            display: block;
        }
    }
}
