// Button main style
.button {
    background-color: #fff;
    border: 1px solid $border-default;
    border-radius: 2px;
    outline: none;
    padding: 10px 10px;
}

// HR line

hr {
    margin: 5px 0;
}
